* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

body {
  height: 100vh;
  background: rgb(2, 1, 18);
  cursor: none;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  /* pointer-events: none; */
}

.main h1 {
  color: rgb(240, 255, 74);
  text-shadow: 10px 0 30px rgb(253, 16, 16);
}
.cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  z-index: 999;
  position: fixed;
  box-shadow: 0 0 20px #2696e8, 0 0 60px #2696e8, 0 0 100px #2696e8;
pointer-events: none;
transform: translate(-50%,-50%);
/* display: none;  */
animation: colors 5s infinite;
background: #2696e8;

}

@keyframes colors{

0%{
    filter: hue-rotate(0deg);
}
100%{
    filter: hue-rotate(360deg);
}

}

.cursor:before{
    content: " ";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2696e8;
    opacity: 0.2;
    transform: translate(-30%,-30%);

}